.navbar{
  width: 100%;
  height: 70px;
  background-color: #395886;
  overflow: hidden;
border-bottom:1px solid white ;
}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  list-style-type:none ;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.bars{
  font-size: 25px;
  color: white;
}
.link{
  text-decoration: none;
}
/* start aside */
.aside{
  width: 0;
  height: calc(100% - 70px);
  overflow: hidden;
  position: fixed;

  left: 0;
bottom: 0;
background-color: #395886;

border-right: 1px solid white;
transition: 0.4s ease-in-out;
}
.aside.active{
  width: 250px;
transition: 0.4s ease-in-out;

}
.aside>.container>ul{
  display: flex;

padding: 25px;
flex-direction: column;
}
.aside>.container>ul>h4{
color: white;
text-align: center;
}
.aside>.container>ul>li{
  display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding: 15px;
}
/* end aside */
/* start Home */

 .home {
overflow: hidden;
  height: auto;
 
  transition: 0.4s ease-in-out; 
}   
span{
  font-size: 13px;
}
.mainsp{
  color: #395886;
}

/* end Home */